$orange-text: #b45922;
$orange-link: orange;
$dark-grey: #1f1f1f;
$header-blue: lightblue;

@mixin mq($size) {
  @media only screen and (max-width: $size) {
    @content; /* lets us pass content block into mixin */
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 112.5%;
  @include mq(768px) {
    font-size: 100%;
  }
}

body {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.42857143;
  color: white;
}

body:after {
  /* addresses iOS issue with fixed cover background */
  content: '';
  position: fixed; /* stretch a fixed position to the whole screen */
  top: 0;
  height: 100vh; /* fix for mobile browser address bar appearing disappearing */
  left: 0;
  right: 0;
  z-index: -1; /* needed to keep in the background */

  background: {
    image: url('https://thecakeisaliegaming.files.wordpress.com/2020/01/icutter-asteroid-field-03.jpg');
    repeat: no-repeat;
    size: cover;
    position: 50% 40px;
  }

  @include mq(480px) {
    background-size: auto;
  }
}

.main {
  position: relative;
  top: 75px;

  @include mq(480px) {
    top: 25px;
  }
}

/* Start of SHARED CLASSES*/
.center-text {
  text-align: center;
}

.bold {
  font-weight: 600;
}

.orange-text {
  color: $orange-text;
}

.dshadow {
  text-shadow: 1px 1px 0px black;
}

.fcontainer {
  // width: 100vw;
  padding: 2.78rem 2.78rem 1.1rem;
  margin: 0 auto;
  display: flex;
  @include mq(1024px) {
    flex-wrap: wrap;
  }
  @include mq(480px) {
    padding: 2rem 2rem 0.8rem;
  }
}

.falign-center {
  align-items: center;
}

.white {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.gray {
  background-color: dimgray;
  background-color: rgba(105, 105, 105, 0.9);
  color: white;
}

.fbox1 {
  margin-right: 60px;
  margin-bottom: 30px;
  flex-basis: 500px;
  // flex-grow: 0;
  @include mq(1024px) {
    flex-shrink: 5;
  }
}

.fbox2 {
  flex-basis: 800px;
  // flex-grow: 0;
  @include mq(1024px) {
    flex-shrink: 1;
  }
}

.fbox2 ul {
  list-style-type: square;
}

.fbox2 li {
  padding-left: 10px;
  margin-bottom: 25px;
}
/* End of SHARED CLASSES */

/* Start of HEADER SECTION STYLING */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $header-blue;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 75px;
  box-shadow: 0px 1px 8px #3399ff;
}

.logo {
  margin: 0 5px;
}

.logo img {
  display: block;
  // min-width: 400px;
  max-width: 100%;
}

.nav-bar {
  display: flex;
  padding-right: 0.8rem;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  padding: 0 0.8vw;
}

.burger-btn {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  padding-right: 0.55rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover,
  &:focus {
    color: $orange-text;
    text-shadow: 1px 1px 2px $dark-grey;
    filter: brightness(120%);
  }
}

// media query to control burger-btn & dropdown
@media (max-width: 1024px) {
  .nav-bar {
    display: block;
    position: relative;

    li {
      padding: 0 0.5vw;
      font-size: 1.8rem;
      display: block;
      list-style-type: none;
    }
  }

  .nav-list {
    display: none;
    text-align: center;
    position: absolute;
    background-color: $header-blue;
    width: 100vw;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    right: 0;
    top: 55px;
    box-shadow: 0px 8px 8px -8px #3399ff;
  }

  .nav-link {
    display: block;
  }

  .burger-btn {
    display: inline-block;
  }
}

@media (max-width: 480px) {
  .burger-btn {
    padding-right: 0;
  }
}

.nav-bar a {
  color: #3399ff;
  font-weight: 600;
  text-decoration: none;
}

.nav-bar a:hover,
.nav-bar a:focus {
  color: #b45922;
}
/* End of HEADER SECTION STYLING */

/* Start of ABOUT SECTION */
.about {
  /* height: 400px; */
  max-width: 1200px;
  height: 100vh;
  padding: 15px;
  /* margin: 0 auto 20px auto; */
}

h1 {
  font-size: 2.67rem;
  font-family: 'Uncial Antiqua', 'Quicksand', sans-serif;
  font-style: italic;
  text-shadow: 2px 2px 4px #aaa;
  @include mq(480px) {
    font-size: 2rem;
  }
}

.heading {
  margin-bottom: 1.4rem;

  p {
    font-size: 2rem;
    @include mq(480px) {
      font-size: 1.6rem;
    }
  }
}

.blurb {
  @include mq(480px) {
    font-size: 1.2rem;
  }
}

/* End of ABOUT SECTION */

/* Start of VIDEO SECTION */
.demo {
  padding-bottom: 50px;
}

.vidbox {
  position: relative;
  padding-bottom: 56.25%; /* forces video to resize with 16:9 aspect! */
  padding-top: 25px;
  height: 0;
  overflow: hidden;
}

.vidbox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.small-text {
  font-size: 75%;
}
/* End of VIDEO SECTION */

/* Start of NEWSLETTER SECTION */
.form-text {
  margin-bottom: 20px;
}

.input-style {
  border-radius: 4px;
  border: 1px solid;
  border-color: gray;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
  height: 40px;
}

.button {
  background-color: #3399ff;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
/* End of NEWSLETTER SECTION */

/* Start of FOOTER SECTION */
footer {
  padding: 20px;
  margin: auto;
  max-width: 600px;
}

footer a {
  color: #005780;
  font-weight: 600;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: white;
  text-decoration: underline;
}
/* End of FOOTER SECTION */
