$orange-text: #b45922;
$orange-link: orange;
$dark-grey: #1f1f1f;
$header-blue: lightblue;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.42857143;
  font-size: 18px;
  color: white;
  background: url('https://thecakeisaliegaming.files.wordpress.com/2020/01/icutter-asteroid-field-03.jpg')
    no-repeat fixed center;
  background-size: cover;
  background-position: 50% 40px;
}

.main {
  position: relative;
  top: 75px;
  width: 100%;
}

/* start of general styling classes */
.center-text {
  text-align: center;
}

.bold {
  font-weight: 600;
}

.orange-text {
  color: $orange-text;
}

.dshadow {
  text-shadow: 1px 1px 0px black;
}

.fcontainer {
  width: 100%;
  padding: 50px 50px 20px 50px;
  margin: 0 auto;
  display: flex;
}

.falign-center {
  align-items: center;
}

.white {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.gray {
  background-color: dimgray;
  background-color: rgba(105, 105, 105, 0.9);
  color: white;
}

.fbox1 {
  margin-right: 60px;
  margin-bottom: 30px;
  flex-basis: 500px;
  flex-grow: 0;
}

.fbox2 {
  flex-basis: 800px;
  flex-grow: 0;
}

.fbox2 ul {
  list-style-type: square;
}

.fbox2 li {
  padding-left: 10px;
  margin-bottom: 25px;
}
/* end of general styling classes */

/* HEADERER SECTION STYLING start */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $header-blue;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 75px;
  // padding: 2px 15px 2px 5px;
  box-shadow: 0px 1px 8px #3399ff;
}

.logo {
  // margin: 2px 5px 2px 5px;
  margin: 0 5px;
}

.logo img {
  display: block;
  min-width: 400px;
  max-width: 100%;
}

.nav-bar {
  display: flex;
  margin-right: 15px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  padding: 0 0.8vw;
}

.burger-btn {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  margin-right: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover,
  &:focus {
    color: $orange-text;
    text-shadow: 1px 1px 2px $dark-grey;
    filter: brightness(120%);
  }
}

// media query to control burger-btn & dropdown
@media (max-width: 1024px) {
  .nav-bar li {
    padding: 0 0.5vw;
    font-size: 1.8rem;
    display: block;
    list-style-type: none;
  }

  .burger-btn {
    display: inline-block;
  }

  .nav-bar {
    display: block;
    position: relative;
    margin: 0;
  }

  .nav-list {
    display: none;
    text-align: center;
    position: absolute;
    background-color: $header-blue;
    width: 100vw;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    right: 0;
    top: 55px;
    box-shadow: 0px 8px 8px -8px #3399ff;
  }

  .nav-link {
    display: block;
  }
}

@media (min-width: 1024px) {
  /* overrides jQ inline "display: block" when enlarging screen after opening menu */
  .nav-list {
    display: flex !important;
  }
}


.nav-bar a {
  color: #3399ff;
  font-weight: 600;
  text-decoration: none;
}

.nav-bar a:hover,
.nav-bar a:focus {
  color: #b45922;
}
/* End of header section styling */

/* Start of about section styling */
.about {
  /* height: 400px; */
  max-width: 800px;
  height: 100vh;
  padding: 15px;
  /* margin: 0 auto 20px auto; */
}

h1 {
  font-size: 48px;
  font-family: 'Uncial Antiqua', 'Quicksand', sans-serif;
  font-style: italic;
  text-shadow: 2px 2px 4px #aaa;
}

.heading {
  margin-bottom: 25px;
}

.heading p {
  font-size: 32px;
}

.blurb {
  font-size: 22px;
}
/* End of about styling */

/* Start of video section styling */
.demo {
  padding-bottom: 50px;
}

.vidbox {
  position: relative;
  padding-bottom: 56.25%; /* forces video to resize with 16:9 aspect! */
  padding-top: 25px;
  height: 0;
  overflow: hidden;
}

.vidbox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.small-text {
  font-size: 75%;
}
/* End of video section styling */

/* Starting of newsletter section styling */
.form-text {
  margin-bottom: 20px;
  /* max-width: 75%; */
}

.input-style {
  border-radius: 4px;
  border: 1px solid;
  border-color: gray;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
  height: 40px;
}

.button {
  background-color: #3399ff;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
/* End of newsletter section styling */

/* Start of footer styling */
footer {
  padding: 20px;
  margin: auto;
  max-width: 600px;
}

footer a {
  color: #005780;
  font-weight: 600;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: white;
  text-decoration: underline;
}
/* End of footer styling */

/* Media breakpoints */
@media (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 42px;
  }
  .heading p {
    font-size: 24px;
  }

  .blurb {
    font-size: 18px;
  }

  .fcontainer {
    flex-wrap: wrap;
  }

  .fbox1 {
    flex-basis: 200px;
    flex-shrink: 5;
  }

  .fbox2 {
    flex-shrink: 1;
  }
}

@media (max-width: 480px) {
  body {
    background-size: auto;
  }
  .main {
    top: 50px;
  }
}
